{{> menu }}

<section class="ui raised segment">
  <div class="ui grid">
    <div class="ui four wide column">
      <img src="/images/nf1.jpg" class="ui centered medium image">
    </div>
    <div class="ui twelve wide column">
      <div class="ui basic padded segment">
        <h1 class="ui blue header">{{ pageHeader }}</h1>
      </div>
    </div>
  </div>

  <div class="ui grid">
    <div class="ui two wide column">
    </div>
    <div class="ui six wide column">
      <form class="ui fluid form" action="/device" method="GET">
        <button class="ui fluid blue basic submit button"><strong>Add a Device</strong></button>
      </form>
    </div>
    <div class="ui six wide column">
    </div>
  </div>

  <div class="ui grid">
    <div class="ui two wide column">
    </div>
    <div class="ui twelve wide column">
      <table class="ui celled blue table segment">
        <thead>
        <tr>
          <th> Serial No.</th>
          <th> Type</th>
          <th> Make</th>
          <th> Model</th>
          <th> Description</th>
          <th> Assigned to</th>
          <th> Action</th>
        </tr>
        </thead>
        <tbody>
        {{#each devices}}
          <tr>
            <td> {{ serial_num }} </td>
            <td> {{ type }} </td>
            <td> {{ make }} </td>
            <td> {{ model }} </td>
            <td> {{ description }} </td>
            <td> <a href="/employee/{{EmployeeId}}">{{ Employee.first_name }} {{ Employee.last_name}}</a> </td>
            <td>
              {{{ action this }}}
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>

</section>