{{> menu }}

<section class="ui raised segment">
  <div class="ui grid">
    <div class="ui four wide column">
      <img src="images/nf1.jpg" class="ui centered medium image">
    </div>
    <div class="ui twelve wide column">
      <div class="ui basic padded segment">
        <h1 class="ui blue header">Employees</h1>
      </div>
    </div>
  </div>

  <div class="ui grid">
    <div class="ui two wide column">
    </div>
    <div class="ui six wide column">
      <form class="ui fluid form" action="/employee" method="GET">
        <button class="ui fluid blue basic submit button"><strong>Add an Employee</strong></button>
      </form>
    </div>
    <div class="ui six wide column">
      <form class="ui red fluid form segment" action="/displayDelete" method="POST">
        <h4 class="ui red header">Delete an employee</h4>
        <div class="ui fluid selection dropdown delete">
          <input type="hidden" name="employeeId">
          <i class="dropdown icon"></i>
          <div class="default text">employee to delete</div>
          <div class="menu">
            {{#each employees}}
              <div class="item" data-value="{{id}}">{{ first_name }} {{ last_name }}</div>
            {{/each}}
          </div>
        </div>
        <br>
        <button class="ui fluid red submit button">Submit</button>
      </form>
    </div>
  </div>

  <div class="ui grid">
    <div class="ui two wide column">
    </div>
    <div class="ui twelve wide column">
      <table class="ui blue celled table">
        <thead>
        <tr>
          <th> Name</th>
          <th> Job Title</th>
          <th> Email</th>
        </tr>
        </thead>
        <tbody>
        {{#each employees}}
          <tr>
            <td><a href="/employee/{{id}}">{{ first_name }} {{ last_name }}</a> </td>
            <td> {{ job_title }} </td>
            <td> {{ email }} </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>

<script>$('.ui.selection.dropdown.delete').dropdown()</script>